<div class="container">

  <div class="input-group my-3">
    <input type="text" class="form-control" placeholder="Search a Movie or Series title..." 
        [(ngModel)]="searchTitle" aria-label="Search Movie Title" aria-describedby="search-button">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" (click)="searchPress()" type="button" id="search-button">
        Search
      </button>
    </div>
  </div>

  <div *ngIf="loading" class="text-center m-3">Loading...</div>
  <div *ngIf="errorMessage" class="text-center m-3 error-text">{{errorMessage}}</div>

  <div *ngIf="results" class="list-group">
    <a [routerLink]="['/movie', result.imdbID]" class="list-group-item list-group-item-action flex-column align-items-start"
          *ngFor="let result of results">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{result.Title}}</h5>
        <small>{{result.Type}}</small>
      </div>
      <p class="mb-1"></p>
      <small>{{result.Year}}</small>
    </a>
  </div>

  <div class="p-4"></div>

</div>

